<style>

a:link {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

h1 {
  color: Black;
  font-style: italic;
  text-align: center;
}

#pic {

  text-align: center; 

}

#spacing{
  border-style:solid;
  border-width:thin 160px;
  border-color:whitesmoke;

}

body {
  background-color: whitesmoke;
}


p {
  font-style: italic;
  font-size: 18px;
  text-align: left;
}